.home_section_1_left .iconbox {
    margin: 16px 0 15px 0;
    background-color: #fff;
box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);

}

.home_section_1_left .iconbox h3 {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0 5px 0 !important;
    font-weight: 600;
    text-transform:capitalize;
    padding: 17px 0px 0px 0px;
}

.home_section_1_left .icon.standard {
    width: 66px;
    height: 66px;
    font-size: 60px;
    line-height: 66px;
    border: 2px solid;
padding: 15px 0px 0px 0px;
}
.home_section_2_1 {
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff; 
   /* margin-left: 170px;*/
width: 20% !important;
}
.home_section_2_2 {
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff; 
    /*margin-left: 138px;*/
    width: 20% !important;
}
.home_section_2_3 {
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff; 
   /* margin-left: 141px;*/
    width: 20% !important;
}

.home_section_2_button .vc_btn3.vc_btn3-style-classic {
    font-size: 18px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 100px !important;
    padding-right: 100px !important;
    border-radius: 1.5px !important;
    border: solid 1.5px #84c55d !important;
    text-transform: uppercase;
    color: #000 !important;
}
.home_section_41 { box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
transition: 0.5s;
padding-bottom: 0px;
}

.home_section_colm2 {
    width: 45% !important;
    margin-left: 115px;
}
.home_section_colm1 {
    width: 45% !important;
}
.who_we_are1 {    padding-top: 131px;}
.who_we_are1 span {color:#84c55d;
}

.who_we_are1 h1 {
    font-weight: bold;
    font-size: 53px;
}

.who_we_are2 p {
    color: #fff;
    font-size: 17px;
    font-family: Exo;
}

.massage .massage_types h3 {
    font-weight: bold;
}

.testimonials_heads span {
   color:#84c55d;
}

.social_media1 .vc_col-sm-3 {
    width: 11% !important;
}

.social_media1 .vc_column_container>.vc_column-inner {
    padding-right: 0;
}

.emaillist label {
    float: left;
    width: 330px !important;
    margin: 0px !important;
    border: solid 2px #707070;
    box-shadow: 0 0 2px 0;
}
.newsletters1 span {
   color:#84c55d;
}
.newsletters1 {
   color:#84c55d;
    margin-bottom: 9px !important;
}
.es_submit_button {
    background-color: #fff !important;
    color: #000 !important;
    font-size: 15px !important;
    border: 2px solid #84c55d !important;
    border-radius: 0px !important;
    padding: 19px 67px !important;
    margin-left: 25px !important;
}

.es_subscription_message.success {
    color: #008000;
    font-size: 12px !important;
    float: left;
}
#footer .separator_line {
    background: #84c55d;
    display: none;
}

#footer p {
    margin: -20px 0 20px 0;
}
.home_banner_section h1 {
    font-size: 85px;
    margin-left: 150px;
    margin-top: 120px;
    width: 100%;
   }

.home_banner_section1 p {
    font-size: 16px;
    margin-left: 150px;
    margin-top: -35px;
    color: #000;
    line-height: 23px;
    font-weight: 550;
}
.home_banner_section_button {
    font-size: 16px;
    margin-left: 150px;
    margin-top: 5px;
    color: #000;
    border-radius: 1.5px;
    border: solid 3px #84c55d;
}

.home_banner_section_button button {
    padding: 14px 36px !important;
    font-weight: 550;
    font-size: 12px !important;
}

.home_section_1_left .iconbox {
    padding-bottom: 20px;
    padding-top: 5px;
    transition: 0.5s;
}

.home_section_1_left .excerpt {
    line-height: 1.3;
    color: #000;
    font-size: 15px;
    padding: 3px;
}

.service_review1 {
    box-shadow: 0px 9px 18px 0px rgba(10,2,32,.06);
    border-radius: 10px;
    border: solid 1.5px 
}

.home_section_1_left .iconbox:hover {
    transform: translateY(-10px);
    box-shadow: 0px 9px 18px 0px rgba(10,2,32,.06);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.iconbox:hover .aside_circle_icon .icon {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #84c55d !important;
}

.home_section_1_left .icon:hover {
    /* width: 66px; */
    /* height: 66px; */
    /* font-size: 60px; */
    /* line-height: 66px; */
    /*border: none !important;*/
    /*padding: 0px 0px 0px 0px;*/
    background:none !important;
    /*color: #000 !important;*/
}

#form1 input[type="number"] {
    margin-bottom: 0;
}

.home_section_2_1, .home_section_2_2, .home_section_2_3 {
    transition: 0.5s;
}

.home_section_2_1 .wpb_content_element, .home_section_2_2 .wpb_content_element, .home_section_2_3 .wpb_content_element {
     margin-bottom: 20px;
}

.home_section_2_1 h3, .home_section_2_2 h3, .home_section_2_3 h3 {
    font-weight: bold;
    line-height: 1.3;
    font-size: 20px;
}

.home_section_2_1 p, .home_section_2_2 p, .home_section_2_3 p {
     line-height: 1.4;
}

.home_section_2_1:hover {
    transform: translateY(-20px);
    box-shadow: 0px 9px 18px 0px rgba(10,2,32,.06);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.home_section_2_2:hover {
    transform: translateY(-20px);
    box-shadow: 0px 9px 18px 0px rgba(10,2,32,.06);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.home_section_2_3:hover {
    transform: translateY(-20px);
    box-shadow: 0px 9px 18px 0px rgba(10,2,32,.06);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.home_section_41:hover {
    transform: translateY(-20px);
     box-shadow: 0px 9px 18px 0px rgba(10,2,32,.06);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.loanformname {
    border-bottom: 1px solid #c1c0c0 !IMPORTANT;
    font-size: 30px !important;
    text-align: center;
    padding-top: 25px !important;
    /* margin-top: 10px !important; */
}
.loanformbackground {
box-shadow: 0 0 4px 0 rgba(0,0,0,0.16);
}

.loanformbackground p:nth-child(2) {
    margin: 0 33px;
}

.loanformbackground #number::placeholder {
     font-size: 32px;
    font-weight: 550;
}

.loanformbackground .loan_amount_section {
    margin-bottom: 20px;
}

.loan_option_button a {
    width: 86%;
}

.loan_option_button a:focus {
    box-shadow: none !important;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group-addon {
    padding: 10px;
    font-size: 30px;
    height: auto;
}

.home_banner_section_button {
    margin-top: -20px;
}

.header_section {
background-position: bottom !important;
}

.contact_detail {
    padding-top: 35px;
}

.contact_detail p {
    font-size: 16px;
    line-height: 31px;
}

.contact_detail p a {
    color: #000;
}

.home_section_41 p {
    line-height: 1.3;
}

.who_we_are_button button {
    padding: 20px 40px !important;
}

#testimonial_section h2 {
    font-size: 42px;
}

.flexslider .slides > li {
    position: relative;
    padding-left: 0;
    min-height: 370px;
}

.emaillist form {
    margin-bottom: 0;
}

.emaillist input[type="email"] {
    padding: 15px 20px;
}

.services_pricing .peak_how_it_works /*.vc_custom_1577943025227*/ {
    display: flex;
    justify-content: space-evenly;
}

#form1 {
    margin: 0 32px;
}

#form1 .loan_option_button {
    background-color:  #84c55d;
    color: #fff !important;
    text-align: center;
    width: 100%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 23px 25px;
    border-radius: 1.5px;
    text-transform: none;
}

.peak_testimonials {
    padding-top: 49px;
}

.testimonial .wrapper {
    width: calc(100% - 79px);
}

#flexslider-testimonial .testimonial .testimonial-author .featured-thumbnail img {
    margin-left: 24px;
}

.service_review1 .testimonial .wrapper {
    width: calc(100% - 150px);
}

.about_peak_sec1 h2, .about_peak_sec2 h2, .about_peak_sec3 h2 {
     font-size: 30px;
    line-height: 1.4;
}

.about_peak_sec1 p, .about_peak_sec2 p {
    font-size: 16px;
    line-height: 1.5;
}

.about_peak_sec2 a, .get_funds_btn a {
background-color: #C5E6B1 !important;
color: #000 !important;
font-weight: bold;
font-size: 20px;
}

#footer .widget ul li {
    padding-left: 0 !important;
}

@media (max-width: 1150px) and (min-width: 783px) {
#header {
    padding-bottom: 30px;
}

#header .calls {
    margin-top: 10px;
}
}

@media (max-width: 1280px) {
.home_banner_section h1 {
    font-size: 75px;
}

.home_section_2_1, .home_section_2_2, .home_section_2_3 {
    width: 24% !Important;
}

.home_section_2_button .vc_btn3.vc_btn3-style-classic {
    font-size: 16px !important;
    padding: 20px 80px !important;
}}

@media (max-width: 1066px) {
.home_banner_section h1 {
    font-size: 70px;
}

.loanformbackground {
    margin-right: unset !important;
    margin-left: 67px !important;
}

.home_section_2_1, .home_section_2_2, .home_section_2_3 {
    width: 29% !Important;
}

.home_section_2_button .vc_btn3.vc_btn3-style-classic {
    font-size: 14px !important;
}

.home_section_colm1 {
    margin-left: 27px;
}

.home_section_colm2 {
    margin-left: 56px;
}

.home_section_41 {
    min-height: 150px;
}

.testimonial_image {
    display: none !important;
}

.peak_testimonials {
    width: 100% !important;
    padding-top: 10px;
}

.peak_testimonials #flexslider-testimonial .flex-control-nav {
    margin-top: -7rem;
}}

@media (max-width: 1024px) {
.home_banner_section h1 {
    font-size: 65px;
}

.home_section_2_button .vc_btn3.vc_btn3-style-classic {
    padding: 20px 70px !important;
}
}

@media (max-width: 960px) {
.home_banner_section h1, .home_banner_section1 p, .home_banner_section_button {
     margin-left: 60px;
}

.home_banner_section h1 {
    font-size: 60px;
}

.home_banner_section1 p {
    font-size: 14px;
}

.loanformbackground {
    margin-left: 25px !important;
}

.home_section_2_button .vc_btn3.vc_btn3-style-classic {
    padding: 20px 60px !important;
}

.home_section_41 {
    min-height: 174px;
}

.wrapper.post-navigation {
    display: grid;
}

.wrapper.post-navigation div {
margin-left: 0 !important;
margin-right: 0 !important;
}}

@media (max-width: 854px) {
.home_banner_section h1 {
    font-size: 55px;
}

.home_section_1_left .alignleft {
margin-right: 0;
}

.loanformbackground {
    margin-left: -15px !important;
}

.home_section_2_1, .home_section_2_2, .home_section_2_3 {
    width: 31% !Important;
}

.home_section_2_button .vc_btn3.vc_btn3-style-classic {
    padding: 20px 45px !important;
}

.home_section_colm1 {
    margin-left: 14px;
}

.home_section_41 {
    min-height: 187px;
}

.emaillist label {
    width: 228px !important;
}

.es_submit_button {
    padding: 19px 48px !important;
    font-size: 14px !important;
}

.social_media1 .vc_column_container>.vc_column-inner {
    padding-left: 1px;
    margin-left: 16px;
}

#footer #text-2, #footer #text-3, #footer #nav_menu-2, #footer #custom_html-2 {
    padding-left: 0px;
}

#footer p {
    font-size: 13px;
}
}

@media (max-width: 800px) {
.home_banner_section h1 {
    font-size: 50px;
}

.loanformname::placeholder {
    font-size: 18px;
}

.home_section_2_button .vc_btn3.vc_btn3-style-classic {
    padding: 20px 35px !important;
}

.loan_calculator .fc-modals > .modal .btn, form.financial-calculators .btn, .loan_calculator form.financial-calculators .calc-control {
    font-size: 13px !important;
}

.peak_testimonials #flexslider-testimonial .flex-control-nav {
    margin-top: -5rem !important;
}}

@media (max-width: 768px) {
.calls {
    text-align: left;
}

.home_banner_section {
    margin-bottom: 0 !important;
}

.home_banner_section h1 {
    font-size: 50px;
}

.home_banner_section h1, .home_banner_section1 p, .home_banner_section_button {
    margin-left: 60px !important;
}

.services_pricing .peak_how_it_works {
    display: flex !important;
    padding-bottom: 0 !important;
}

.home_section_2_1 h3, .home_section_2_2 h3, .home_section_2_3 h3 {
    font-size: 18px;
}

.home_section_2_button {
    margin-bottom: -15px !important;
}

.home_section_2_button .vc_btn3.vc_btn3-style-classic {
    padding: 20px 30px !important;
}

.who_we_are1, .who_we_are2, .who_we_are_button {
    margin-left: -40px;
}

.home_section_colm1 {
    margin-left: 10px;
    width: 49% !important;
}

.home_section_colm2 {
    width: 47% !important;
    margin-left: 13px !important;
}

.home_section_41 {
    min-height: 204px;
}

#testimonial_section h2 {
    font-size: 42px !important;
}

.peak_testimonials #flexslider-testimonial .flex-control-nav {
    margin-top: -4rem;
}

.es_submit_button {
    margin-top: 0 !important;
}

.social_media1 .vc_col-sm-3 {
    width: 15% !important;
}

#footer p {
    line-height: 21px;
}

#footer #nav_menu-2 ul li a {
    font-size: 13px;
}

#footer #nav_menu-2 ul li {
    line-height: 1;
}

#footer .widget .separator {
    margin: 24px 0 12px;
}

#footer #nav_menu-2 .menu-footer-menu-container {
    margin-top: 15px;
}

.single .post-excerpt p {
    line-height: 1.4;
}

.peak_testimonials #flexslider-testimonial .flex-control-nav {
    margin-top: -4rem !important;
}
}

@media (max-width: 767px) {
.how_works .vc_column_container>.vc_column-inner {
padding-left: 0 !important;
padding-right: 0 !important;
}

.how_works .about_peak_sec1 .vc_col-sm-2 {
     display: none;
}

.single .post-meta {
 display: flex !important;
}

.ebook_section form div {
    padding-left: 0;
}

.business_lending_sec1 h1 {
    font-size: 35px !important;
}

.business_lending_sec2 h2, .business_lending_sec5 h2, .business_lending_sec9 h2 {
    padding-top: 0 !important;
    margin-top: -30px !important;
}}

@media (max-width: 720px) {
.home_section_1_left .icon.standard {
    padding-top: 10px;
}

.loanformbackground {
    margin-left: 1px !important;
}

.services_pricing .peak_how_it_works {
    display: grid !important;
    padding-top: 0 !important;
}

.home_section_2_1, .home_section_2_2, .home_section_2_3 {
    width: 60% !important;
    margin: 20px auto;
}

.home_section_2_button .vc_btn3.vc_btn3-style-classic {
    font-size: 18px !important;
}

.show_my_loan_options_btn {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.who_we_are1, .who_we_are2, .who_we_are_button {
     margin-left: unset;
     padding-top: 0;
}

.who_we_are1 {
    margin-top: -340px;
}

.home_section_colm1, .home_section_colm2 {
    width: 60% !important;
    margin: auto !important;
}

.home_section_41 .vc_col-sm-3 {
    margin-bottom: -15px;
}

.home_section_41 h4, .home_section_41 p {
    text-align: center !important;
}

#flexslider-testimonial .testimonial .testimonial-author .featured-thumbnail img {
    margin-left: 3px;
}

.testimonial .wrapper {
    width: calc(100% - 56px);
}

.peak_testimonials #flexslider-testimonial .flex-control-nav {
    margin-top: -3rem;
}

#flexslider-testimonial {
    margin-bottom: 0px;
    padding: 0;
}

.emaillist label {
    width: 50% !important;
}

.es_submit_button {
    padding: 19px 65px !important;
}

.follow_us {
    margin-left: 15px;
}

.social_media1 {
    display: flex;
}

.social_media1 .vc_col-sm-3 {
     padding: 0;
     margin: 0;
     width: 6% !important;
}

.social_media1 .vc_column_container>.vc_column-inner {
    padding-left: 0;
    margin-left: 0;
}
}

@media (max-width: 640px) {
.header_section {
    background-position: left !important;
    height: 305px;
}

.home_banner_section {
    margin-top: -5rem;
}

.home_banner_section h1, .home_banner_section1 p, .home_banner_section_button {
    margin-left: 18px !important;
}

.services_pricing {
    padding-bottom: 0 !important;
}

.who_we_are1, .who_we_are2 {
    margin-top: -20px;
}

.who_we_are1 {
    margin-bottom: -20px !important;
}

.who_we_are_main {
    background-position: right !important;
}

.display_pc {
display:none;
}

.display_mobile {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: block !important;
}

.display_mobile .vc_column_container>.vc_column-inner {
     padding-left: unset !important;
     padding-right: unset !important;
}

.who_we_are1, .who_we_are2 {
    padding: 0 40px !important;
}

.who_we_are_button {
    width: 100%;
    padding-left: 40px !important;
    padding-bottom: 30px !important;
    margin-top: -40px !important;
}

.who_we_are1 {
margin-top: unset;
}

.massage {
    padding-top: 0 !important;
}

#alt-title h1 {
    font-size: 30px;
    line-height: 1.3;
}

.ebook_points #reasons ul li {
    font-size: 16px;
    line-height: 1.4;
}

.business_lending_sec1 h1 {
    font-size: 30px !important;
}

.comparison-table-cell {
    font-size: 16px;
}

.comparison-table-pros, .comparison-table-diz {
    width: 25px;
}

.description, .about_peak_sec3 {
    padding-bottom: 0 !important;
}

.peak_testimonials #flexslider-testimonial .flex-control-nav {
    margin-top: -2rem !important;
}}

@media (max-width: 480px) {
.header_section {
    background-position: left !important;
    height: 340px;
}

.home_section_2_1, .home_section_2_2, .home_section_2_3 {
    width: 90% !important;
}

.home_section_colm1, .home_section_colm2 {
    width: 90% !important;
}

.who_we_are2 p {
    line-height: 1.4;
}

#testimonial_section h2 {
    font-size: 30px !important;
}

#flexslider-testimonial .testimonial {
    padding: 0;
}

.peak_testimonials #flexslider-testimonial .flex-control-nav {
    margin-top: 0rem;
}

.emaillist label {
    width: 100% !important;
}

.es_submit_button {
    margin-top: 20px !important;
    margin-left: 0 !important;
}

.social_media1 .vc_col-sm-3 {
    width: 9% !important;
}

.single .post-meta {
    display: grid !important;
}

.business_lending_sec1 h1 {
    font-size: 25px !important;
}

.business_lending_sec9 .wpb_text_column ul li {
    line-height: 1.3;
}

.loan_calculator .calculator {
    width: unset;
}

.comparison-table-pros, .comparison-table-diz {
    width: 20px;
}
}

@media (max-width: 479px) {
.who_we_are_button {
    padding-left: 26px !important;
}

.how_works .vc_column_container>.vc_column-inner {
padding-left: 15px !important;
padding-right: 15px !important;
}

#respond-inputs div { 
padding-left: 0 !important;
padding-right: 0 !important;
}}

@media (max-width: 440px) {
p {
    font-size: 13px !important;
}

h3 {
    font-size: 16px !important;
}

.home_banner_section h1, .home_banner_section1 p, .home_banner_section_button {
    margin-left: 26px !important;
}

.home_section_1_left .excerpt {
    font-size: 13px;
}

.home_section_2_1, .home_section_2_2, .home_section_2_3 {
    width: 83% !important;
}

.peak_green_logo img.vc_single_image-img.attachment-full {
    width: 60px;
}

.peak_card_icon img.vc_single_image-img.attachment-full {
    width: 80px;
}

#flexslider-testimonial .testimonial .testimonial-author {
    margin-left: 39% !important;
}

.follow_us h2 {
    margin-left: -15px;
}

.testimonial .wrapper {
    width: calc(100% - 10px);
    margin-right: 5px;
}

.simple_process_sub {
    font-size: 16px !important;
}

#alt-title h1 {
    font-size: 20px;
}

.ebook_points #reasons ul li {
    font-size: 14px;
}

.business_lending_sec9 .wpb_text_column ul li {
    font-size: 16px !important;
}

.comparison-table {
    padding: 0 11px;
}

.loan_calculator .vc_column_container>.vc_column-inner {
    padding-left: 0;
}}

@media (max-width: 414px) {
.loanformname::placeholder {
    font-size: 18px;
}

#flexslider-testimonial .testimonial .testimonial-author {
    margin-left: 38.5% !important;
}

.social_media1 .vc_col-sm-3 {
    width: 10% !important;
}

.simple_process_sub {
    padding: 0 20px;
}

.business_lending_sec1 h1 {
    font-size: 20px !important;
}

.business_lending_sec1 h4 {
    font-size: 16px;
    line-height: 1.3em;
}
}

@media (max-width: 384px) {
.home_banner_section h1, .home_banner_section1 p, .home_banner_section_button {
    margin-left: 9px !important;
}

.who_we_are1 h1 {
    font-size: 45px;
}

#flexslider-testimonial .testimonial .testimonial-author {
    margin-left: 37.5% !important;
}}

@media (max-width: 380px) {
.home_banner_section h1, .home_banner_section1 p, .home_banner_section_button {
    margin-left: 20px !important;
}

.home_banner_section h1 {
    font-size: 45px;
}

.blog_page .vc_grid.vc_row.vc_grid-gutter-30px .vc_pageable-slide-wrapper {
    margin-right: unset !important;
}

.blog_page .vc_pageable-slide-wrapper.vc_clearfix {
    padding: unset !important;
}}

@media (max-width: 375px) {
.loan_amount_section p {
    font-size: 14px !important;
}
}

@media (max-width: 360px) {
.home_banner_section h1, .home_banner_section1 p, .home_banner_section_button {
    margin-left: 16px !important;
}

.home_banner_section h1 {
    font-size: 45px;
}

.who_we_are1 h1 {
    font-size: 45px;
}

.social_media1 .vc_col-sm-3 {
    width: 10.5% !important;
}

.wrapper.post-navigation div a {
    font-size: 12.5px;
}

.comparison-table-cell {
    font-size: 14px;
}}

@media (max-width: 320px) {
.header_section {
    height: 330px;
}

.home_banner_section h1, .home_banner_section1 p, .home_banner_section_button {
    margin-left: 14px !important;
}

.home_banner_section h1 {
    font-size: 40px;
}

.loan_amount_section p {
    font-size: 12px;
}

.loanformname::placeholder {
    font-size: 14px !important;
}

#form1 .loan_option_button {
    font-size: 14px;
}

.who_we_are1, .who_we_are2 {
    padding: 0 35px !important;
}

.who_we_are_button {
    padding: 0 35px 30px 21px !important;
}

.who_we_are1 h1 {
    font-size: 40px;
}

#testimonial_section h2 {
    font-size: 25px !important;
}

#flexslider-testimonial .testimonial .testimonial-author {
    margin-left: 35.5% !important;
}

.social_media1 .vc_col-sm-3 {
    width: 10.5% !important;
}

.home_about_get_business_btn a {
     font-size: 14px !important;
}

.description .ebook_section .ebook_btn input {
    font-size: 13px !important;
    padding: 20px 15px !important;
}

.loan_calculator .fc-modals > .modal .btn, form.financial-calculators .btn, .loan_calculator form.financial-calculators .calc-control {
    font-size: 13px !important;
}

.loan_calculator form.financial-calculators .label {
    font-size: 0.71rem;
}
}

.display_mobile {
    display: none;
}

.blog_page h4, .blog_page p {
    line-height: 1.3;
}

.vc_gitem-animated-block { display:none !important;}

.peak_owner img.vc_single_image-img.attachment-medium {
    height: 400px;
    width: 400px;
}

#navigation .sub-menu {
    opacity: 1;
}

.post-content-container .span3.text-right {
    width: 100%;
    text-align: left;
}

#respond-inputs input[type="text"], #respond textarea {
    border: solid 1px #000;
}

#respond input[type=submit] {
    color: #fff !important;
}

.post .date {
    display: none !important;
}

.sharebox div {
    padding-left: 0 !important;
}

p.comment-form-cookies-consent {
    display: flex;
}

form label {
    margin: 0;
    line-height: 1.4;
    width: 100%;
}

.display_none {
    display: none;
}

.five_reasons .wpb_text_column ul li {
    margin-left: 0;
}

.five_reasons .wpb_text_column ul li::before {
   color: #000;
}

.five_reasons .wpb_text_column ul li h4 {
    display: inline;
}

.ebook_section .wpcf7-form input[type="text"], .ebook_section .wpcf7-form input[type="email"] {
    background-color: #fff;
    border: 2px solid #e4e5e7;
    padding: 10px 20px 11px !important;
    outline: none;
    font-size: 15px !important;
    width: 100%;
    max-width: 100%;
    display: block;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-appearance: none;
    margin-bottom: 20px !important;
    color: #8a8989 !important;
    border-radius: 5px;
}

.ebook_section .ebook_btn input {
    background-color: #C5E6B1 !important;
    color: #000 !important;
    font-weight: bold !important;
    font-size: 14px !important;
    padding: 20px;
    border: none;
}

.business_lending_sec1 h1 {
    font-size: 40px;
    line-height: 1.3em;
}

#navigation .sub-menu li a, #navigation .sub-menu li .sub-menu li a, #navigation .sub-menu li .sub-menu li .sub-menu li a {
    padding: 7px 15px;
    line-height: 21px;
}

.business_lending_sec9 .wpb_text_column ul li {
    font-size: 18px;
}

.ebook_section input.wpcf7-form-control.wpcf7-submit, .contact_form input.wpcf7-form-control.wpcf7-submit {
    margin-bottom: 10px;
}

.loan_calculator .calc-footer, .loan_calculator .zoomer, .featherlight-inner .small {
     display: none !important;
}

tr.label.rpt_footer.center {
     opacity: 0;
}

.loan_calculator {
    margin-left: 0 !important;
}

.loan_calculator .calculator {
    border: none;
    width: unset;
    background: #fff !important;
}

.post img {
    width: 700px;
}

.testimonial_image {
    display: none !important;
}

.peak_testimonials {
    width: 100% !important;
    padding-top: 10px;
}

.peak_testimonials #flexslider-testimonial .flex-control-nav {
    margin-top: -7rem;
}

@media (min-width: 1281px) {
#flexslider-testimonial .testimonial {
    padding: 8px 293px;
}

.testimonial .testimonial-author {
    margin: 0 200px !important;
}}

@media only screen and (max-width: 782px) {
p {
    margin: 0 0 20px 0 !important;
}}

#sidebar .widget ul {
    margin-top: 0;
}

.loan_calculator #loan-plugin .calc-name {
    font-weight: bold;
}

.loan_calculator #loan-wrap {
        box-shadow: 0 1.5px 3px 0 rgba(0,0,0,0.16);
}

#sidebar {
     display: none;
}

.blog_items .vc_btn3.vc_btn3-shape-rounded {
    border-radius: 0px;
    background-color: #84C55D;
}

.calls a, input[type=submit], .home_banner_section_button .vc_btn3.vc_btn3-size-md, .home_section_2_button .vc_btn3.vc_btn3-style-classic {
  background: linear-gradient(to right, #84C55D 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
}

.calls a:hover, input[type=submit]:hover, .home_banner_section_button .vc_btn3.vc_btn3-size-md:hover, .home_section_2_button .vc_btn3.vc_btn3-style-classic:hover {
  background-position: left bottom;
  color: #fff !important;
}

.get_funds_btn a {
    background: linear-gradient(to right, #fff 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;
  border-radius: 0 !important;
}

.get_funds_btn a:hover {
  background-position: left bottom;
  color: #000 !important;
}