* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 20px;
}

body header {
  background-color: #fff;
  position: relative;
  height: 95vh;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0 1rem 0;
}

body header nav .nav_links ul li {
  margin: 0 0.5rem;
  display: inline;
  list-style-type: none;
}

body header nav .nav_links ul li a {
  text-decoration: none;
  color: #000;
}

body header nav .nav_links ul li a:nth-child(2) {
  color: #ff910b;
  text-decoration: underline;
}

body header nav .nav_links ul li a button {
  padding: 0.5rem 2rem;
  border-radius: 5rem;
  background: -webkit-gradient(linear, right top, left top, from(#ff9409), to(#f7524e));
  background: linear-gradient(to left, #ff9409, #f7524e);
  color: #fff;
  border: none;
  outline: none;
}

body header .home_sec_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body header .home_sec_first .plug_your_business_sec {
  padding-top: 12rem;
}

body header .home_sec_first .plug_your_business_sec .header_head, body header .home_sec_first .plug_your_business_sec .design_head {
  font-weight: bolder;
  font-size: 3rem;
}

body header .home_sec_first .plug_your_business_sec .header_head span, body header .home_sec_first .plug_your_business_sec .design_head span {
  color: #3f51b5;
}

body header .home_sec_first .plug_your_business_sec .primary_buttons a button {
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  outline: none;
}

body header .home_sec_first .plug_your_business_sec .primary_buttons a .primary_buttons_primary {
  background-color: #3f51b5;
  color: #fff;
  border: none;
}

body header .home_sec_first .plug_your_business_sec .primary_buttons a .primary_buttons_secondary {
  background: none;
  border: solid 2px orange;
}

body header .home_sec_first .header_image {
  padding-top: 5rem;
}

body header .design_sec {
  background: linear-gradient(107deg, #5f78da, #303c6d);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #fff;
  padding: 4rem 0;
}

body header .design_sec .design_col_one {
  padding-top: 6rem;
}

body header .design_sec .design_col_one .design_breadcrumbs a {
  color: #fff;
}

body header .design_sec .design_col_one .design_head {
  margin-top: 2rem;
}

body header .design_sec .design_col_one .design_sub span {
  display: block;
}

body header .design_sec .design_col_one .primary_services {
  margin-top: 2rem;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .design_sec .design_col_one .primary_services a {
  color: #ff910b;
  text-decoration: none;
}

body main section {
  padding: 4rem 6rem;
}

body main .how_we_work_back {
  background: linear-gradient(107deg, #5f78da, #303c6d);
}

body main .how_we_work_back .how_we_work_section {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem 1rem;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px #707070;
}

body main .how_we_work_back .how_we_work_section .how_we_work_section_image img {
  height: 26rem;
}

body main .how_we_work_back .how_we_work_section .how_we_work_section_steps {
  padding: 0 4rem 0 0;
  font-size: 1.5rem;
}

body main .how_we_work_back .how_we_work_section .how_we_work_section_steps h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

body main .how_we_work_back .how_we_work_section .how_we_work_section_steps h5 {
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

body main .how_we_work_back .how_we_work_section .how_we_work_section_steps span p {
  font-size: 1.25rem;
  line-height: 4rem;
}

body main .how_we_work_back .how_we_work_section .how_we_work_section_steps span p span {
  border-radius: 50% 50%;
  background-color: #a2b1ed;
  padding: 0.5rem 1rem;
  color: #fff;
}

body main .solution_section .solution_sec_head {
  text-align: center;
}

body main .solution_section .solution_sec_head .solution_sec_head_primary {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

body main .solution_section .solution_sec_head .solution_sec_head_secondary {
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

body main .solution_section .solution_card_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .solution_section .solution_card_section .solution_card {
  margin: 0 0.75rem;
  min-width: 31.5%;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #c5c5c5;
  background-color: #fff;
  padding-bottom: 1rem;
}

body main .solution_section .solution_card_section .solution_card .solution_card_head {
  padding: 1rem;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #f8f8f8;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.52;
}

body main .solution_section .solution_card_section .solution_card ul {
  padding: 1.5rem 1rem;
  list-style-type: none;
}

body main .solution_section .solution_card_section .solution_card ul li {
  font-size: 1.25rem;
  line-height: 1.6;
}

body main .solution_section .solution_card_section .solution_card p {
  font-size: 1.25rem;
  color: #6079da;
  padding: 0 1rem;
}

body main .solution_section .solution_card_section .solution_card p a {
  text-decoration: none;
}

body main .portfolio_section {
  background: linear-gradient(107deg, #5f78da, #303c6d);
}

body main .portfolio_section .portfolio_sec_head {
  text-align: center;
  color: #fff;
}

body main .portfolio_section .portfolio_sec_head .portfolio_sec_head_primary {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

body main .portfolio_section .portfolio_sec_head .portfolio_sec_head_secondary {
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

body main .portfolio_section .portfolio {
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 0.5px #707070;
  padding: 3rem 5rem;
}

body main .portfolio_section .portfolio .portfolio_slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-animation: fadeIn 1s ease-in;
          animation: fadeIn 1s ease-in;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body main .portfolio_section .portfolio .portfolio_slider .portfolio_slider_content {
  padding: 2em 0em;
}

body main .portfolio_section .portfolio .portfolio_slider .portfolio_slider_content .portfolio_slider_content_head .portfolio_slider_content_head_main {
  font-size: 1.5rem;
}

body main .portfolio_section .portfolio .portfolio_slider .portfolio_slider_content .portfolio_slider_content_head .portfolio_slider_content_head_sub {
  font-size: 1.25rem;
  font-weight: normal;
}

body main .portfolio_section .portfolio .portfolio_slider .portfolio_slider_content .portfolio_slider_content_text {
  padding-top: 1rem;
}

body main .portfolio_section .portfolio .portfolio_slider .portfolio_slider_content .portfolio_slider_content_text .portfolio_slider_content_text_head {
  font-size: 1.25rem;
  font-weight: normal;
  color: #6079da;
}

body main .portfolio_section .portfolio .portfolio_slider .portfolio_slider_content .portfolio_slider_content_text p {
  padding-top: 1rem;
}

body main .portfolio_section .portfolio .portfolio_slider_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .portfolio_section .portfolio .portfolio_slider_buttons button {
  background-color: transparent;
  border: none;
  color: #6079da;
  font-weight: 600;
  font-size: 1rem;
  outline: none;
}

body main .reach_us_section .reach_us_section_head {
  text-align: center;
}

body main .reach_us_section .reach_us_section_head .reach_us_section_head_primary {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

body main .reach_us_section .reach_us_section_head .reach_us_section_head_secondary {
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

body main .reach_us_section .reach_us_card_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

body main .reach_us_section .reach_us_card_section .reach_us_card {
  margin: 0 0.75rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #c5c5c5;
  background-color: #fff;
  padding: 2rem;
}

body main .reach_us_section .reach_us_card_section .reach_us_card .reach_us_card_head {
  font-size: 1.5rem;
  font-weight: 600;
}

body main .reach_us_section .reach_us_card_section .reach_us_card form {
  margin-top: 1rem;
}

body main .reach_us_section .reach_us_card_section .reach_us_card form input,
body main .reach_us_section .reach_us_card_section .reach_us_card form textarea {
  border: solid 0.1px #f2f2f2;
  background-color: #f2f2f2;
  font-size: 1.25rem;
  color: #aca9a9c7;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

body main .reach_us_section .reach_us_card_section .reach_us_card form input::-webkit-input-placeholder,
body main .reach_us_section .reach_us_card_section .reach_us_card form textarea::-webkit-input-placeholder {
  color: #aca9a9c7;
}

body main .reach_us_section .reach_us_card_section .reach_us_card form input:-ms-input-placeholder,
body main .reach_us_section .reach_us_card_section .reach_us_card form textarea:-ms-input-placeholder {
  color: #aca9a9c7;
}

body main .reach_us_section .reach_us_card_section .reach_us_card form input::-ms-input-placeholder,
body main .reach_us_section .reach_us_card_section .reach_us_card form textarea::-ms-input-placeholder {
  color: #aca9a9c7;
}

body main .reach_us_section .reach_us_card_section .reach_us_card form input::placeholder,
body main .reach_us_section .reach_us_card_section .reach_us_card form textarea::placeholder {
  color: #aca9a9c7;
}

body main .reach_us_section .reach_us_card_section .reach_us_card form button {
  padding: 0.5rem 2rem;
  background: -webkit-gradient(linear, right top, left top, from(#ff9409), to(#f7524e));
  background: linear-gradient(to left, #ff9409, #f7524e);
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
}

body main .reach_us_section .reach_us_card_section .reach_us_card .schedule_call input {
  width: 49.5%;
  display: inline-block;
}

body main .reach_us_section .reach_us_card_section .reach_us_card .schedule_call .schedule_call_btn {
  padding: 0.5rem 3rem;
}

body main .logo_design, body main .ui_design, body main .website_design, body main .social_media_design, body main .brochure_design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.15rem;
}

body main .logo_design .logo_design_image img, body main .logo_design .ui_design_image img, body main .logo_design .website_design_image img, body main .logo_design .social_media_design_image img, body main .logo_design .brochure_design_image img, body main .ui_design .logo_design_image img, body main .ui_design .ui_design_image img, body main .ui_design .website_design_image img, body main .ui_design .social_media_design_image img, body main .ui_design .brochure_design_image img, body main .website_design .logo_design_image img, body main .website_design .ui_design_image img, body main .website_design .website_design_image img, body main .website_design .social_media_design_image img, body main .website_design .brochure_design_image img, body main .social_media_design .logo_design_image img, body main .social_media_design .ui_design_image img, body main .social_media_design .website_design_image img, body main .social_media_design .social_media_design_image img, body main .social_media_design .brochure_design_image img, body main .brochure_design .logo_design_image img, body main .brochure_design .ui_design_image img, body main .brochure_design .website_design_image img, body main .brochure_design .social_media_design_image img, body main .brochure_design .brochure_design_image img {
  height: 35vh;
}

body main .logo_design .logo_desc, body main .logo_design .ui_desc, body main .logo_design .website_desc, body main .logo_design .social_media_desc, body main .logo_design .brochure_desc, body main .ui_design .logo_desc, body main .ui_design .ui_desc, body main .ui_design .website_desc, body main .ui_design .social_media_desc, body main .ui_design .brochure_desc, body main .website_design .logo_desc, body main .website_design .ui_desc, body main .website_design .website_desc, body main .website_design .social_media_desc, body main .website_design .brochure_desc, body main .social_media_design .logo_desc, body main .social_media_design .ui_desc, body main .social_media_design .website_desc, body main .social_media_design .social_media_desc, body main .social_media_design .brochure_desc, body main .brochure_design .logo_desc, body main .brochure_design .ui_desc, body main .brochure_design .website_desc, body main .brochure_design .social_media_desc, body main .brochure_design .brochure_desc {
  padding: 0 2rem;
}

body main .logo_design .logo_desc div, body main .logo_design .ui_desc div, body main .logo_design .website_desc div, body main .logo_design .social_media_desc div, body main .logo_design .brochure_desc div, body main .ui_design .logo_desc div, body main .ui_design .ui_desc div, body main .ui_design .website_desc div, body main .ui_design .social_media_desc div, body main .ui_design .brochure_desc div, body main .website_design .logo_desc div, body main .website_design .ui_desc div, body main .website_design .website_desc div, body main .website_design .social_media_desc div, body main .website_design .brochure_desc div, body main .social_media_design .logo_desc div, body main .social_media_design .ui_desc div, body main .social_media_design .website_desc div, body main .social_media_design .social_media_desc div, body main .social_media_design .brochure_desc div, body main .brochure_design .logo_desc div, body main .brochure_design .ui_desc div, body main .brochure_design .website_desc div, body main .brochure_design .social_media_desc div, body main .brochure_design .brochure_desc div {
  margin-top: 1.5rem;
}

body main .ui_design, body main .social_media_design {
  background-color: #f5f5f5;
}

body main .our_work {
  background: linear-gradient(107deg, #5f78da, #303c6d);
  height: 55vh;
  margin: 2em auto;
  text-align: center;
}

body main .our_work h2 {
  color: #fff;
}

body main .our_work #content-2, body main .our_work #content-3 {
  display: none;
}

body main .our_work #content-1, body main .our_work #content-2, body main .our_work #content-3 {
  padding-top: 50px;
}

body main .our_work .tabs {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main .our_work .tabs .tablinks {
  width: 15%;
  background-color: transparent;
  border: solid 1px #707070;
  color: #fff;
  font-weight: bold;
  padding: 8px 0;
  border-radius: 0.75rem;
  outline: none;
}

body main .our_work .tabs .active {
  background-color: #8278e1;
  outline: none;
}

body footer {
  padding-bottom: 2rem;
}

body footer .footer_main {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body footer .footer_main ul {
  border-right-color: #000;
  list-style-type: none;
}

body footer .footer_main ul li a {
  text-decoration: none;
  color: #000;
}

body footer .footer_main .footer_main_col_four li a:hover {
  text-decoration: underline;
  color: #6079da;
}

body footer .footer_main span {
  height: 5.5rem;
  width: 1px;
  background-color: #000;
}

body footer .footer_sub {
  margin-top: 2rem;
  text-align: center;
}

body footer .footer_sub .social_icons i {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

body footer .footer_sub .copyright {
  font-size: 1rem;
}
/*# sourceMappingURL=style.css.map */