* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-size: 20px;    

    header {
        background-color: #fff; 
        position: relative;
        height: 95vh;
        padding: 1rem;;

        nav {
            display: flex;
            justify-content: space-between;

            .nav_links {
                ul {

                    li {
                        margin: 0 0.5rem;
                        display: inline;
                        list-style-type: none;

                        a {
                            text-decoration: none;
                            color: #000;

                            button {
                                padding: 0.5rem 2rem;
                                border-radius: 5rem;
                                background: linear-gradient(to left, #ff9409, #f7524e);
                                color: #fff;
                                border: none;
                                outline: none;
                            }
                        }
                    }
                }
            }
        }

        section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .plug_your_business_sec {
                padding-top: 12rem;
                .header_head {
                    font-weight: bolder;
                    font-size: 3rem;
    
                    span {
                        color: #3f51b5;
                    }
                }
    
                .primary_buttons {
                    a {
    
                        button {
                            padding: 0.5rem 2rem;
                            border-radius: 0.5rem;
                            outline: none;
                        }
    
                        .primary_buttons_primary {
                            background-color: #3f51b5;
                            color: #fff;
                            border: none;
                        }
    
                        .primary_buttons_secondary {
                            background: none;
                            border: solid 2px orange;
                        }
                    }
                }
            }
            
            .header_image {
                padding-top: 5rem;
            }
            
        }
    }

    main {
        section {
            padding: 4rem 6rem;
        }

        .how_we_work_back {
            background: linear-gradient(107deg, #5f78da, #303c6d);
        

            .how_we_work_section {
                height: 70vh;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                background-color: #fff;
                border-radius: 1rem;
                padding: 2rem 1rem;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                border: solid 0.5px #707070;
            
                .how_we_work_section_image {
                    img {
                        height: 26rem;
                    }
                }

                .how_we_work_section_steps {
                    padding: 0 4rem 0 0;
                    font-size: 1.5rem;

                    h2 {
                        font-size: 2rem;
                        margin-bottom: 1rem;
                    }

                    h5 {
                        font-weight: normal;
                        font-size: 1.5rem;
                        margin-bottom: 1rem;
                    }

                    span {
                        p {
                            font-size: 1.25rem;
                            line-height: 4rem;

                            span {
                                border-radius: 50% 50%;
                                background-color: #a2b1ed;
                                padding: 0.5rem 1rem;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        .solution_section {
            .solution_sec_head {
                text-align: center;

                .solution_sec_head_primary {
                    font-size: 2rem;
                    margin-bottom: 0.5rem;
                }

                .solution_sec_head_secondary {
                    font-weight: normal;
                    font-size: 1.5rem;
                    margin-bottom: 1.5rem;
                }
            }

            .solution_card_section {
                display: flex;
                flex-wrap: wrap;

                .solution_card {
                    margin: 0 0.75rem;
                    min-width: 31.5%;
                    border-radius: 0.5rem;
                    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                    border: solid 2px #c5c5c5;
                    background-color: #fff;
                    padding-bottom: 1rem;

                    .solution_card_head {
                        padding: 1rem;
                        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                        background-color: #f8f8f8;
                        border-top-left-radius: 0.5rem;
                        border-top-right-radius: 0.5rem;
                        font-size: 1.25rem;
                        font-weight: 600;
                        line-height: 1.52;
                    }

                    ul {
                        padding: 1.5rem 1rem;
                        list-style-type: none;
                        li {
                           font-size: 1.25rem;
                           line-height: 1.6; 
                        }
                    }

                    p {
                        font-size: 1.25rem;
                        color: #6079da;
                        padding: 0 1rem;
                      
                      a {
                          text-decoration: none;
                      }
                    }
                }
            }
        }
    }
}